@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    overflow: hidden;
}


canvas{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

/* Menu */
#menu{
    background-color: #232930;
    height: 100vh;
    width: 100vw;
}
.menu{
    color: rgb(194, 194, 194);
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Odibee Sans', cursive;
    padding-top: 20vh;
    
}
.menu h1{
    font-size: 10.5rem;
}
.menu h2{
    font-size: 3.5rem;  
}
.menu h1:hover{
    color: rgb(255, 255, 255);
}
.menu h2:hover{
    color: rgb(255, 255, 255);
}
.menu #title{ 
    font-size: 7rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -10vh;
    position: fixed;
    top: 20vh;

    left: 50%;
    transform: translatex(-50%);

    animation: tilt 2.5s ease-in-out infinite;
}
@keyframes tilt{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* Settings */
#settingsM{
    background-color: #232930;
    height: 100vh;
    width: 100vw;
}
.settings{
    color: rgb(194, 194, 194);
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Odibee Sans', cursive;
    padding-top: 10vh;
}
.settings h1{
    font-size: 10.5rem;
}
.settings h2{
    font-size: 4.5rem;
}
.settings h1:hover{
    color: rgb(255, 255, 255);
}
.settings h2:hover{
    color: rgb(255, 255, 255);
}
.settings p{
    font-size: 2.5rem;  
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
