body {
    margin: 0;
    font-family: "Baloo 2", sans-serif;
    color: white;
    font-size: 26px;
}

#background {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: block;
}

.input {
    margin: auto;
    width: 50%;
    border: 3px solid #ffffff;
    padding: 10px;
    text-align: center;
}

#class {
    margin: auto;
    width: 50%;
    padding-top: 25vh;
    display: none;
    text-align: center;
}

.classImg {
    width: 14vw;
    margin: 10px;
    border: 2px solid white;
}

#classConfirmation {
    display: none;
    margin: 0 auto;
    width: 65vw;
}

#classConfirmationImg {
    width: 100%;
    border: 3px solid #45ff35;
    margin-top: 5vh;
}

#classConfirmationName {
    display: inline-block;
}

.classConfirmationButton {
    display: inline-block;
    border: 2px solid white;
    padding: 4px;
    float: right;
}

#classConfirmationAccept, #classConfirmationAccept:hover {
    background-color: #45ff35;
    cursor: default;
}

#classConfirmationDecline, #classConfirmationDecline:hover {
    background-color: #fe0026;
    margin-right: 1vw;
    cursor: default;
}