body {
    margin: 0;
    font-family: "Baloo 2", sans-serif;
    color: white;
    font-size: 26px;
    overflow: hidden;
}

#background {
    background-color: rgb(92, 92, 92);
    width: 100vw;
    height: 100vh;
    display: block;
}

.input {
    margin: auto;
    width: 50%;
    border: 3px solid #ffffff;
    padding: 10px;
    text-align: center;
}

#class {
    margin: auto;
    width: 50%;
    padding-top: 25vh;
    display: none;
    text-align: center;
}

.classImg {
    width: 14vw;
    margin: 10px;
    border: 2px solid white;
    display: inline-block;
}

#classConfirmation {
    display: none;
    margin: 0 auto;
    width: 65vw;
}

#classConfirmationImg {
    width: 100%;
    max-height: 80vh;
    border: 3px solid #45ff35;
    margin-top: 5vh;
}

#classConfirmationName {
    display: inline-block;
    width: 50%;
    padding-top: 45vh;
    text-align: center;
}

.classConfirmationButton {
    display: inline-block;
    border: 2px solid white;
    padding: 4px;
    text-align: right;
}

#classConfirmationAccept, #classConfirmationAccept:hover {
    background-color: #45ff35;
    cursor: default;
}

#classConfirmationDecline, #classConfirmationDecline:hover {
    background-color: #fe0026;
    margin-right: 1vw;
    cursor: default;
}

#characterPicker {
    display: none;
    width: 364px;
    /* width: 50%; */
    margin: 0 auto;
}

#characterPicker p {
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* margin: 0 1em; */
    margin: 0;
    padding: 0 1em;
    /* display: inline; */
    text-align: center;
    display: inline-block;
    transform: translate(25px, 0);
    width: 200px;
    box-sizing: border-box;
}

.characterPart{
    image-rendering: pixelated;
    position:absolute;
    width: 256px;
    transform: translate(25%, 0);
}

.characterPickButton {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 3px;
}

#characterPicker div{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: block;
}

#characterDisplay img{
    /* //position: relative; */
    left: 50%;
    transform: translate(-50%, 0%);
}

#characterPicker div button:last-of-type{
    float: right;
}

.characterConfirmButton {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    font-family: "Baloo 2", sans-serif;
    font-size: 0.8em;
    width: 100%;
}

#characterDisplay{
    position: relative;
    display: inline-block;
    height: 256px;
    width: 100%;
}

#characterPicker input{
    width: 100%;
    box-sizing: border-box;
}